@import "../sass/meta";
@import "../sass/components/dropdown";

h1 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.ascii {
    margin-top: 2rem;
}

.user-input {
    width: 100%;
    min-height: 4rem;
    margin-top: 1rem;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-family: inherit;
    }
}

.button {
    padding: 1rem 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.actions {
    display: flex;
    white-space: nowrap;

    > .action:not(:first-child) {
        margin-left: 1em;
    }

    @include media(">=sm") {
        text-align: right;
    }
}
