<div class="ascii">
    <div class="row between-sm middle-xs">
        <div class="col-xs-12 col-sm">
            <h1 class="title">Asciiize 3000™</h1>
        </div>
        <div class="col-xs-12 col-sm">
            <div class="actions">
                <select v-model="selectedFont" class="action dropdown">
                    <option v-for="font in fonts" v-bind:value="font">
                        {{ font }}
                    </option>
                </select>
                <span class="action refresh" v-on:mousedown="randomFont">↺</span>
                <button class="action button" v-on:click="random">Surprise Me</button>
                <button class="action button" v-on:click="reset">Reset!</button>
            </div>
        </div>
    </div>

    <textarea class="user-input" v-model="term" placeholder="Start typing…" rows="5"></textarea>
    <pre v-if="asciiArt">{{ asciiArt }}</pre>
</div>
