.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

h1 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.user-input {
    background: transparent;
    width: 100%;
    min-height: 4rem;
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.5);
    font-size: 1rem;

    &::placeholder {
        color: #fff;
    }
}

.actions {
    text-align: right;
}

.button {
    padding: 1rem 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-variant-caps: all-small-caps;
    font-weight: 700;
}

.font-selection {
}
