$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1rem;
$flexboxgrid-outer-margin: 1rem;
$flexboxgrid-breakpoints:
    sm 48rem 48rem,
    md 64rem 48rem,
    lg 80rem 48rem,
    xlg 90rem 48rem;
$breakpoints: (sm: 48rem, md: 64rem, lg: 80, zlg: 90rem);

$font-family: 'Cousine', monospace;

$color-background: #171717;
$color-background-variant: #1e201d;
$color-foreground: #F9F8F2;
