@import "../sass/meta";
@import "../sass/components/dropdown";

.title {
    color: #fff;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;

    @include media(">=sm") {
        text-align: left;
    }
}

.ascii {
    margin-top: 2rem;
}

.user-input {
    width: 100%;
    min-height: 4rem;
    margin-top: 1rem;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-family: inherit;
    }
}

.button {
    padding: 1rem 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media(">=sm") {
        justify-content: flex-end;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    > .action {
        margin-bottom: 0.5em;

        @include media(">=sm") {
            margin-bottom: 0;
        }
    }

    > .action:not(:first-child) {
        margin-left: 1em;
    }
}

.refresh {
    cursor: pointer; 
}
